/* Головний стиль хедера */
.main-header {
  background-color: black;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* Контейнер навігації */
.nav-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo img {
  height: 50px;
  cursor: pointer;
}

.user-logo {
  width: 25px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0; /* Забираємо зайві відступи */

}
/* Основний список меню */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Стилі для пунктів меню */
.nav-item {
  position: relative;
  flex: 1 1 auto;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 10px;
  display: block;
  text-align: center;
}

.active {
  background-color: #026fbd;
}


@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    flex: none;
    text-align: center;
    padding: 10px 0;
  }

  .nav-item a {
    padding: 10px 0;
  }
}

/* Бургер-іконка за замовчуванням прихована */
.burger-menu {
  padding: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
  align-items: center;
}

/* При малих екранах */
@media (max-width: 770px) {
  .nav-container {
    justify-content: space-between;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: black;
    padding: 10px 0;
  }

  .nav-list.open {
    display: flex;
  }

  .burger-menu {
    display: block;
  }
}



/* Стиль для випадаючого списку */
.nav-item.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 10px;
  display: block;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  background-color: #000;
  display: none;
  min-width: 180px;
  z-index: 1000;
  flex-direction: column;
  border: 1px solid #444;
  padding-left: 0;
  list-style: none;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
/*  padding: 10px 15px;*/
  display: block;
  text-align: left;
  color: white;
  text-transform: none;
  font-size: 15px;
  border-bottom: 1px solid #222;
}

.dropdown-menu a:hover {
  background-color: #026fbd;
}

/* Показати меню при наведенні */
.nav-item.dropdown:hover .dropdown-menu {
  display: flex;
}
@media (max-width: 770px) {
  .dropdown-menu {
    position: static;
    border: none;
    width: 100%;
    display: none;
  }

  .nav-item.dropdown.open .dropdown-menu {
    display: flex;
  }

  .dropdown-toggle::after {
    content: ' ▼';
    font-size: 10px;
  }

  .dropdown-menu a {
    text-align: center;
    border: none;
    padding: 10px;
  }
}
