<div class="chat-wrapper" [class.chat-opened]="!!selectedChat">

  <app-chat-sidebar
    class="sidebar-slot"
    [chats]="chats"
    [selectedChat]="selectedChat"
    (chatSelected)="openChat($event)"
  ></app-chat-sidebar>

  <main class="chat-window">
    <ng-container *ngIf="selectedChat; else emptyStateTempl">

      <app-chat-header
        [chat]="selectedChat"
        [title]="getChatName(selectedChat)"
        [typingText]="typingText"
        (back)="closeChat()"
        (deleteChat)="onDeleteChatFromHeader()"
      ></app-chat-header>
      <app-message-list
        [messages]="messages"
        [currentUserId]="userId"
      ></app-message-list>

      <app-chat-composer
        [value]="newMessage"
        (valueChange)="newMessage = $event"
        (typing)="onTyping()"
        (send)="sendMessage()"
      ></app-chat-composer>

    </ng-container>

    <ng-template #emptyStateTempl>
      <app-empty-state></app-empty-state>
    </ng-template>

  </main>
</div>
